<!DOCTYPE html>
<html lang="en">
<head>
	<title>Compass.</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<!-- <link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/> -->
	<link rel="icon" href="{{ url_for('static', filename='compass.png') }}">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

<!--===============================================================================================-->
</head>
<body>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table" id='random'>

						<div class="row header">
							<div class="cell">
								Ranking (Occupancy)
							</div>
							<div class="cell">
								Building
							</div>
						</div>
                        {% for i in sno %}
						<div class="row row-content">
                            <div class="cell" data-title="Ranking">
							{{ i }}
							</div>
							<div class="cell" data-title="Building">
							{{ ranking[i] }}
							</div>
                            
						</div>
						{% endfor %}

						<!-- <div class="row">
							<div class="cell" data-title="Rank">
								1.
							</div>
							<div class="cell" data-title="Building">
								ARC
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Rank">
								1.
							</div>
							<div class="cell" data-title="Building">
								ARC
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Rank">
								1.
							</div>
							<div class="cell" data-title="Building">
								ARC
							</div>
						</div> -->
						<!-- <ul>
						{% for rank in ranking %}
					    <p>{{ rank }}</p>
					  {% endfor %}
					 </ul> -->


					</div>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>

<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
